Battlefields.xcodeproj/project.xcworkspace/xcuserdata/pieter.xcuserdatad/UserInterfaceState.xcuserstate
Battlefields.xcodeproj/project.xcworkspace/xcuserdata/pieter.xcuserdatad/WorkspaceSettings.xcsettings